ForestFindr/Service References/WIKIpediaService/WIKI3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LinqToWikipedia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LinqToWikipedia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWikipediaOpenSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WikipediaOpenSearchResult" nillable="true" type="tns:WikipediaOpenSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWikipediaOpenSearchResult" nillable="true" type="tns:ArrayOfWikipediaOpenSearchResult" />
  <xs:complexType name="WikipediaOpenSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WikipediaOpenSearchResult" nillable="true" type="tns:WikipediaOpenSearchResult" />
</xs:schema>